%legend="#{hostname} :: #{itemkey}"

%link{:rel => "stylesheet", :type => "text/css", :href => "/contrib/vis/vis.css"}
%script{:src => "/contrib/vis/vis.js"}
%script{:src => "/js/hammy.js"}

%script= p(                                                                                 |
  "$(function() {"                                                                          |
  "  draw_vis_chart({"                                                                      |
  "    period: #{period},"                                                                  |
  "    dataurl: '#{dataurl}',"                                                              |
  "    hostname: '#{hostname}',"                                                            |
  "    itemkey: '#{itemkey}',"                                                              |
  "    avgline: #{avgline}"                                                                 |
  "  });"                                                                                   |
  "});")                                                                                    |

.b-chart