!!!
%html
  %head
    %title Trigger editor
    %style{:type => "text/css", :media => "screen"}
      = '#editor {position: absolute; top: 50px; right: 0; bottom: 0; left: 0;}'

  %body
    = "\"#{key}\":"
    %a{:href => "#", :onClick => "saveCode();"} Save code...
    %span#res
    #editor=code
    %script{:src => "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{:src => "http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js", :type => "text/javascript", :charset => "utf-8"}
    %script
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/solarized_light");
      editor.getSession().setMode("ace/mode/ruby");
      document.getElementById('editor').style.fontSize='16px';
      var saveCode = function() {
      = '  var code = editor.getValue();'
      = "  var key = '#{key}';"
      = '  $.ajax({'
      = '    url: "/save_trigger",'
      = '    type: "POST",'
      = '    data: {'
      = '      key: key,'
      = '      code: code'
      = '    },'
      = '    success: function( data ) {'
      = '      $("#res").html("<strong>" + data + "</strong>");'
      = '      setTimeout(function() {'
      = '        $("#res").html("");'
      = '      }, 10000);'
      = '    }'
      = '  });'
      }
