!!!
%html
  %head
    %title Trigger editor
    %style{:type => "text/css", :media => "screen"}
      = '#editor {position: absolute; top: 50px; right: 0; bottom: 0; left: 0;}'

  %body
    = "\"#{key}\":"
    %a{:href => "#", :onClick => "saveCodeEx();"} Save code...
    %span#res
    #editor
    %script{:src => "http://code.jquery.com/jquery-1.9.1.min.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src => "http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src => "/js/edit.js", :type => "text/javascript", :charset => "utf-8"}
    %script
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/solarized_light");
      editor.getSession().setMode("ace/mode/ruby");
      $('#editor').css("fontSize", "16px");
      loadCode(editor, "#{key}");
      var saveCodeEx = function() { saveCode(editor, "#{key}"); }
