!!!
%html
  %head
    %title= "#{objectname} state"
  %body
    %h1= "#{objectname} state"
    %table
      %tr
        %th Key
        %th Value
        %th LastUpdate
      - state.each do |row|
        %tr
          %td= row[:key]
          %td= row[:value]
          %td= row[:update]

